Doxyfile linguist-documentation
*.dox linguist-documentation
*.md linguist-documentation
*.txt linguist-documentation
docs/* linguist-documentation
html/* linguist-documentation
xml/* linguist-documentation
latex/* linguist-documentation
